*,
*::after,
*::before {
  margin: 0;
  text-decoration: none;
}
body {
  box-sizing: border-box;
  background-color: white;
  max-width: 1400px;
  margin: auto;
  font-family: 'Lato', sans-serif;
  margin: 0 100px 100px 100px;
}
header {
  display: flex;
  justify-content: center;
}
.logo {
  width: 268px;
  padding: 40px;
}

/*** Search ***/

.search-container {
  /*margin: auto 70px;*/
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}
.input_search {
  border: none;
  border-radius: 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
  background: #E7E7E7;
  height: 69px;
  padding: 0 30px;
  font-size: 18px;
}
.glass-icon {
  color: black;
  margin-left: -40px;
  cursor: pointer;
}

/*** Recipes ***/

.recipes-container {
  /*margin: 70px;*/
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(364px, 1fr));
  align-items: center;
  gap: 50px;
}
.recipe-card {
  height: 380px;
  /*width: 364px;*/
}
.recipe-picture {
  width: auto;
  height: 175px;
  background-color: #c7bebe;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.recipe-description {
  background-color: #E7E7E7;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 186px;
  padding: 10px 20px;
  gap : 5px;
}
.recipe-title {
  font-size: 18px;
  align-self: flex-start;
  padding-top: 10px;
  font-weight: 400;
  font-size: 18px;
}
.time {
  display: flex;
  justify-content: flex-end;
  font-weight: 700;
  font-size: 18px;
  padding-top: 10px;
  /*align-items: center;*/
}
.recipe-timing{
  padding-left: 6px;
}
.recipe-ingredients {
  list-style-type: none;
  overflow: auto;
  font-size: 12px;
  padding: 0;
}
.ingredient {
  font-family: 'Roboto';
  font-size: 12px;
}
.recipe-steps {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  /*width: 171px;*/
  max-height: 70px;
  font-size: 12px;
}

/*** Select ***/


.select-container {
  display: flex;
  justify-self: flex-start;
  padding: 20px 0;
  margin-bottom: 50px;
}
.select {
  width: 170px;
  height: 69px;
  border-radius: 5px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 18px;
  margin-right: 20px;
  cursor: pointer;
}
.select.active{
  width: 270px;
}
.fa-chevron-down {
  /*font-family: "Font Awesome 5 Free";
  content: "\f104";
  position: absolute;*/
  font-weight: 900;
  transform: translate(-50%, 0%) rotate(0deg)scaleX(-1);
  color: #fff;
  font-size: 20px;
  pointer-events: none;
  transition: all 250ms ease-in-out;
}
.select.active .fa-chevron-down {
  transform: translate(-50%, 0%) rotate(180deg);
}
.select-ingredients {
  background-color: #3282F7;
  display: flex;
  justify-content: space-around;
}
.select.active span {
  display: block;
}
.select.active span {
  display: none;
}
.select-appareils {
  background-color: #68D9A4;
  display: flex;
  justify-content: space-around;
}
.select-ustensiles {
  background-color: #ED6454;
  display: flex;
  justify-content: space-around;
}
.search-input {
  width: 100%;
  height: 100%;
  border: none;
  background-color: transparent;
  color: white;
  font-size: 18px;
  padding: 0 10px;
  display: none;
  outline: none;
}
.select.active .search-input {
  display: block;
}
.search-input::placeholder {
  color: white;
  opacity: 0.5;
}
