*,
*::after,
*::before {
  margin: 0;
  text-decoration: none;
}
body {
  box-sizing: border-box;
  background-color: white;
  max-width: 1400px;
  margin: auto;
  font-family: 'Lato', sans-serif;
  margin: 0 100px 100px 100px;
}
header {
  display: flex;
  justify-content: center;
}
.logo {
  width: 268px;
  padding: 40px;
}

/*** Search ***/

.search-container {
  /*margin: auto 70px;*/
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}
#main_search {
  border: none;
  border-radius: 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
  background: #E7E7E7;
  height: 69px;
  padding: 0 30px;
  font-size: 18px;
}
.glass-icon {
  color: black;
  margin-left: -40px;
  cursor: pointer;
}

/*** Recipes ***/

.recipes-container {
  /*margin: 70px;*/
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(364px, 1fr));
  align-items: center;
  gap: 50px;
}
.recipe-card {
  height: 380px;
  /*width: 364px;*/
}
.recipe-picture {
  width: auto;
  height: 175px;
}
.recipe-picture img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.recipe-description {
  background-color: #E7E7E7;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 186px;
  padding: 10px 20px;
  gap : 5px;
}
.recipe-title {
  font-size: 18px;
  align-self: flex-start;
  padding-top: 10px;
  font-weight: 400;
  font-size: 18px;
}
.time {
  display: flex;
  justify-content: flex-end;
  font-weight: 700;
  font-size: 18px;
  padding-top: 10px;
  /*align-items: center;*/
}
.recipe-timing{
  padding-left: 6px;
}
.recipe-ingredients {
  list-style-type: none;
  overflow: auto;
  font-size: 12px;
  padding: 0;
}
.ingredient {
  font-family: 'Roboto';
  font-size: 12px;
}
.recipe-steps {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  /*width: 171px;*/
  max-height: 70px;
  font-size: 12px;
}

/*** Select ***/


.filters-container {
  display: flex;
  justify-self: flex-start;
  padding: 20px 0;
  margin-bottom: 50px;
  position: relative;
}
.select {
  min-width: 170px;
  height: 69px;
  border-radius: 5px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 18px;
  margin-right: 20px;
}
.select.active{
  min-width: 667px;
}

.filter {
  display: flex;
  justify-content: space-around;
  position: relative;
}
.filter-list {
  position: absolute;
  overflow: scroll;
  width: 667px;
  height: auto;
  max-height: 275px;
  flex-wrap: wrap;
  /*margin-top: 70px;*/
  padding: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  top: 65px;
  padding-bottom: 10px;
}
.ingredient-items,
.appareil-items,
.ustensile-items{
  width: 28%;
  cursor: pointer;
  list-style: none;
  /*text-align: center;*/
  margin: 6px 17px;
}
.ingredient-items,
.appareil-items,
.ustensile-items i {
  cursor: pointer;
}

.filter-ingredients,
.filter-ingredients_list,
.filter-ingredients_items {
  background-color: #3282F7;
}

.filter-appareils,
.filter-appareils_list,
.filter-appareils_items {
  background-color: #68D9A4;
}

.filter-ustensiles,
.filter-ustensiles_list,
.filter-ustensiles_items {
  background-color: #ED6454;
}

.tags{
  display: flex;
}
.tags-container {
  width: 170px;
  height: auto;
  margin-right: 20px;
  display: block;
}
.tags-items {
  border-radius: 5px;
  width: 107px;
  height: 37px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px 0;
  font-size: 16px;
  font-weight: 700;
  padding: 10px;
}

.search-input {
  width: 100%;
  height: 100%;
  border: none;
  background-color: transparent;
  color: white;
  font-size: 18px;
  padding: 0 10px;
  display: none;
  outline: none;
}
.select.active .search-input {
  display: block;
}
.search-input::placeholder {
  color: white;
  opacity: 0.5;
}
.select.active .icon-div {
  width: 50px;
}